* {
    margin: 0;
    padding: 0;
}


:root {
    --font1-font-family: 'Raleway', sans-serif;
    --font2-font-family: 'Open Sans', sans-serif;
    --size1-font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1352px;
    margin: 0 auto;
}

.logo__nav {
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    width: 1352px;
    box-shadow: #00000029 0px 3px 6px;
}

.logo {
    width: 9rem;
    height: 2rem;
    font-family: var(--font1-font-family);
    font-weight: lighter;
    font-size: 2rem;
    width: 9rem;
    color: #08A6E4;
    text-decoration: none;
    padding: 1rem 0 1rem 8.5rem;
}

.header__nav {
    height: 100%;
}

.nav__list {
    display: flex;
    margin-right: 8rem;
    list-style: none;
    line-height: 4.5rem;
}

.nav__list li {
    margin-left: 6rem;
    height: 100%;
}

.nav__list li a {
    display: inline-block;
    height: 100%;
    font-size: 0.67rem;
    text-decoration: none;
    font-family: var(--font2-font-family);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3.33px;
    color: #A5A5A5;

}

.nav__list li a:hover {
    color: #000000;
    border-bottom: 4px #08A6E4 solid;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40rem;
    width: 1352px;
}

.section1__h1 {
    font-family: var(--font1-font-family);
    font-size: 3rem;
    margin: 8rem auto 0 auto;
    text-align: center;
    font-weight: lighter;
}

.section1__span {
    font-family: var(--font2-font-family);
    margin: 1rem 0 2rem 0;

}

.section1__btn {
    display: inline-block;
    width: 27.5rem;
    height: 7rem;
    background-color: #08A6E4;
    border-radius: 2.5rem;
    font-size: 1rem;
    font-family: var(--font1-font-family);
    color: #FFFFFF;
    font-weight: bold;
    border: none;
}


.background__img {
    background-image: url(../02_attachment.pl/assets/Background.png);
    height: 37rem;
    width: 1352px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.section2__h2 {
    margin: 6rem 0;
    font-family: var(--font1-font-family);
    font-weight: 400;
    font-size: 2.25rem;
}

.section2__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6.25rem;
}

.column {
    position: relative;
    height: 10.5rem;
    width: 10rem;
}

.column__icon {
    height: 3.25rem;
    width: 2.75rem;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
    padding: 0 3rem 0 1rem;
}

.column__icon1 {
    background-image: url(../02_attachment.pl/assets/Person.svg);
}

.column__icon2 {
    background-image: url(../02_attachment.pl/assets/Eye.svg);

}

.column__icon3 {
    background-image: url(../02_attachment.pl/assets/Catalog.svg);
}

.column__numbers,
.column__text {
    display: block;
}

.column__numbers {
    font-size: 20px;
    font-weight: 700;
    font-family: var(--font1-font-family);
    letter-spacing: 6px;
}

.column__text {
    font-family: var(--font1-font-family);
    color: #A5A5A5;
}

.column__icon1::after {
    content: "";
    width: 4rem;
    height: 4rem;
    background-color: #FB3B64;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.column__icon2::after {
    content: "";
    width: 4rem;
    height: 4rem;
    background-color: #08A6E4;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.column__icon3::after {
    content: "";
    width: 4rem;
    height: 4rem;
    background-color: #55DFB4;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

/* kontener do ustawienia */

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1352px;
    background-color: #F7F7F7;
    /* HEIGHT DO USUNIECIA */
    /* height: 200vh; */
}

.section3__article1 {
    display: flex;
    justify-content: space-between;
    width: 1124px;
    padding: 90px 20px 0 20px;
    background-color: #FFFFFF;
    border: #E8E9ED solid 1px;
    border-radius: 5px;
    position: relative;
    margin: 100px 100px 40px 100px;
}

.section3__text1 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.section3__text1 h1 {
    font-size: 36px;
    font-family: var(--font1-font-family);
    font-weight: 400;
    padding: 0 0 30px 0;
}

.section3__text1 p {
    font-size: 1rem;
    font-family: var(--font2-font-family);
    padding-bottom: 50px;
    line-height: 22px;
}

.section3__text1 .border__bottom {
    height: 1px;
    border-bottom: 4px solid #FB3B64;
    width: 60%;
}

.container__img1 {
    position: relative;
    height: 20rem;
    width: 400px;
    /* padding: 0 0 0 50px; */
}

.section3__article1__img {
    background-image: url(../02_attachment.pl/assets/Macbook.png);
    height: 12rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;

}

.container__img1:before {
    content: "";
    width: 10rem;
    height: 10rem;
    background-color: #FB3B64;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    border-radius: 41px;
    position: absolute;
    right: 17%;

}

.section3__article2 {
    display: flex;
    justify-content: space-between;
    width: 1124px;
    padding: 20px 30px;
    background-color: #FFFFFF;
    border: #E8E9ED solid 1px;
    border-radius: 5px;
    margin-top: 2.5rem;
    position: relative;
}

.section3__text2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 50px;
}

.section3__text2 h1 {
    font-size: 36px;
    font-family: var(--font1-font-family);
    font-weight: 400;
    padding: 50px 0 30px 0;
}

.section3__text2 p {
    font-size: 1rem;
    font-family: var(--font2-font-family);
    padding-bottom: 50px;
    line-height: 22px;
}

.section3__text2 .border__bottom {
    height: 1px;
    border-bottom: 4px solid #07ACE6;
    width: 60%;
}

.container__img2 {
    position: relative;
    height: 20rem;
    width: 400px;
    padding: 0 0 0 50px;
}

.section3__article2__img {
    background-image: url(../02_attachment.pl/assets/iPhone.png);
    height: 20rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.container__img2:before {
    content: "";
    width: 17rem;
    height: 17rem;
    background-color: #07ACE6;
    border-radius: 50%;
    position: absolute;
}

.section3__article3 {
    display: flex;
    justify-content: space-between;
    margin: 100px 100px 100px 100px;
    width: 1184px;

}

.section3__text3 {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 30px 20px 50px 20px;
    background-color: #FFFFFF;
    border: #E8E9ED solid 1px;
    border-radius: 5px;
}

.section3__text3 h1 {
    font-size: 36px;
    font-family: var(--font1-font-family);
    font-weight: 400;
    padding: 0 0 30px 0;
}

.section3__text3 p {
    font-size: 1rem;
    font-family: var(--font2-font-family);
    padding-bottom: 50px;
    line-height: 22px;
}

.section3__text3 .border__bottom {
    height: 1px;
    border-bottom: 4px solid #55DFB4;
    width: 60%;
}

.container__img3 {
    width: 32%;
    background-color: #55DFB4;
    border: #E8E9ED solid 1px;
    border-radius: 5px;
    position: relative;
}

.section3__article3__img {
    background-image: url(../02_attachment.pl/assets/Trumpet.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 80%;
    height: 80%;
    position: absolute;
    transform: translate(16%, 30%);
}

.section4__conatiner {
    display: flex;
    justify-content: space-between;
    width: 1352px;
    margin-bottom: 100px;
    flex-wrap: nowrap;
    align-items: center;

}

.section4__price {
    margin: 100px auto 50px auto;
    text-align: center;
    font-family: var(--font1-font-family);
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
}

.group:nth-child(1) {
    border: 1px solid #FB3B64;
    border-radius: 18px;
}

.group:nth-child(2) {
    border: 1px solid #07ACE6;
    border-radius: 18px;
    box-shadow: 5px 10px 27px #07ACE629;
    margin: 0 60px;
}

.group:nth-child(3) {
    border: 1px solid #55DFB4;
    border-radius: 18px;
}

.group h3 {
    font-size: 20px;
    font-family: var(--font1-font-family);
    padding: 34px 160px;
}

.group .price {
    font-family: var(--font2-font-family);
    font-size: 46px;
    padding: 0 156px 0px 156px;
    text-align: center;
    font-weight: lighter;
}

.group:nth-child(1) .price {
    padding-bottom: 70px;
    color: #EB476E;
}

.group:nth-child(2) .price {
    color: #07ACE6;
}

.group:nth-child(3) .price {
    color: #55DFB4;
}

.group span {
    display: block;
    font-family: var(--font2-font-family);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

.group:nth-child(2) span {
    padding-bottom: 25px;
}

.group button {
    display: block;
    margin: 0 auto;
    transform: translateY(50%);
    border: none;
    background-color: white;

}

.group button a {
    padding: 16px 64px;
    font-family: var(--font2-font-family);
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    line-height: 45px;
    border-radius: 23px;
    color: #FFFFFF;
    text-decoration: none;
}

.group:nth-child(1) button a {
    background-color: #EB476E;
}

.group:nth-child(2) button a {
    background-color: #07ACE6;
}

.group:nth-child(3) button a {
    background-color: #55DFB4;
}

.group .limited {
    text-align: center;
    font-family: var(--font1-font-family);
    font-size: 12px;
    font-weight: bold;
    padding: 15px 0 60px 0;
}

.section5__container {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
}

.section5__questions h2 {
    font-family: var(--font1-font-family);
    font-size: 49px;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 49px;
    width: 440px;
}

.section5__questions p {
    padding: 22px 0 42px 0;
    font-family: var(--font2-font-family);
    font-size: 16px;
    font-weight: 400;
}


.section5__container__spanimg {
    display: flex;
    align-items: center;
}

.section5__questions span {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font2-font-family);
    color: #A5A5A5;
    padding-right: 20px;

}

.section5__questions img {
    display: inline-block;
    line-height: 22px;
    padding-right: 27px;
}


.section5__container label {
    display: block;
    font-family: var(--font2-font-family);
    font-weight: bold;
    font-size: 11px;
    color: #08A6E4;
    text-transform: uppercase;
}


form label:nth-of-type(2) {
    padding-top: 40px;
}

.section5__container .input1 {
    display: block;
    width: 440px;
    border: none;
    border-bottom: #95989A 1px solid;
    height: 40px;
}

.section5__container .input1:nth-of-type(2) {
    display: block;
    width: 440px;
    border: none;
    border-bottom: #95989A 1px solid;
    height: 40px;
    margin-bottom: 30px;
}


.section5__container p {
    display: block;
    width: 440px;
}

.section5__conatiner__checkbox {
    display: flex;
}


.container__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container__checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #95989A;
    border-radius: 4px;
}

.container__checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.container__checkbox input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

..container__checkbox input:checked~.checkmark:after {
    display: block;
}

.container__checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section5__conatiner__checkbox p {
    font-family: var(--font2-font-family);
    font-weight: 400;
    font-size: 12px;
    color: #707070;
    line-height: 17px;
}

form button {
    display: block;
    background-color: #08A6E4;
    border: none;
    border-radius: 35px;
    box-shadow: 5px 10px 14px #07ACE629;
    margin: 20px 0 0 auto;

}

form button a {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 20px 100px;
    font-size: 13px;
    font-weight: bold;
    font-family: var(--font2-font-family);
    color: white;
    text-decoration: none;
}

.section6 {
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    width: 1352px;
    box-shadow: #00000029 0px -5px 40px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
}

.footer__logo p {
    padding: 7px 0 0 8.5rem;
    font-family: var(--font2-font-family);
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #A5A5A5;

}

.logo2 {
    width: 7rem;
    height: 2rem;
    font-family: var(--font1-font-family);
    font-weight: lighter;
    font-size: 2rem;
    color: #08A6E4;
    text-decoration: none;
    padding: 7px 0 0 8.5rem;
}

.footer__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__img img:nth-of-type(2) {
    padding-right: 136px;
    padding-left: 20px;

}